.path-mod-minilesson .cards-item-box .minilesson-wc_cardsprogress {
  width: fit-content;
  position: relative;
  margin: 0 auto;
  padding: 20px 30px;
}
.path-mod-minilesson .cards-item-box .minilesson-flip-card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
  max-width: 50%;
}
.path-mod-minilesson .cards-item-box .minilesson-flip-card .minilesson-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.path-mod-minilesson .cards-item-box .minilesson-flip-card .minilesson-flip-card-inner .minilesson-flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
  color: #1F2334;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  padding: 50px 20px;
}
@media screen and (min-width: 480px) {
  .path-mod-minilesson .cards-item-box .minilesson-flip-card .minilesson-flip-card-inner .minilesson-flip-card-front {
    font-size: 26px;
  }
}
.path-mod-minilesson .cards-item-box .minilesson-flip-card .minilesson-flip-card-inner .minilesson-flip-card-front .cardline1 {
  font-weight: 600;
}
.path-mod-minilesson .cards-item-box .minilesson-flip-card .minilesson-flip-card-inner .minilesson-flip-card-front .cardline2,
.path-mod-minilesson .cards-item-box .minilesson-flip-card .minilesson-flip-card-inner .minilesson-flip-card-front .cardline3 {
  font-size: 0.7em;
  font-weight: 400;
  color: #80859d;
}
.path-mod-minilesson .cards-item-box .minilesson-flip-card .minilesson-flip-card-inner .minilesson-flip-card-front .cardline3 {
  font-size: 0.6em;
  font-style: italic;
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url([[pix:minilessonitem_cards|sliderbg]]);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
}
@media screen and (min-width: 480px) {
  .path-mod-minilesson .cards-item-box .minilesson-df_fl {
    border-radius: 30px;
  }
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-flash_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  max-width: 80%;
  margin: 10px auto;
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 42%;
}
@media screen and (min-width: 480px) {
  .path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control {
    top: 50%;
  }
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control .cards-next-btn,
.path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control .cards-prev-btn {
  height: 32px;
  width: 32px;
  background-image: url([[pix:minilessonitem_cards|leftarrow]]);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #DEE2FC;
  border-radius: 100%;
  display: flex;
  align-content: center;
  justify-items: center;
}
@media screen and (min-width: 480px) {
  .path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control .cards-next-btn,
  .path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control .cards-prev-btn {
    height: 48px;
    width: 48px;
    margin-left: 32px;
    background-size: 22px 18px;
  }
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control .cards-next-btn:hover,
.path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control .cards-prev-btn:hover {
  background-color: #F7F7FD;
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control .cards-next-btn {
  background-image: url([[pix:minilessonitem_cards|rightarrow]]);
}
@media screen and (min-width: 480px) {
  .path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-df_fl_control .cards-next-btn {
    margin-left: 0;
    margin-right: 32px;
  }
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-wc_cardsprogress {
  width: 48px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #DEE2FC;
  color: #1F2334;
  font-size: 12px;
  font-weight: 500;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
@media screen and (min-width: 480px) {
  .path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-wc_cardsprogress {
    width: 78px;
    height: 40px;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 18px;
  }
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl .minilesson-definition_flashcards_ul {
  display: flex;
  align-content: center;
  justify-items: center;
  margin-bottom: 0px;
  padding: 0;
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl .roundmini-audio-player {
  background: #506DFF;
  border-radius: 8px;
  border: 1.5px solid #FFFFFF;
  color: #FFFFFF;
  border-color: #506DFF;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}
.path-mod-minilesson .cards-item-box .minilesson-df_fl .roundmini-audio-player .fa {
  position: absolute;
}
