.mod_minilesson_placeholder {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mod_minilesson-answer:hover,
.mod_minilesson-answer:focus {
  color: inherit;
  text-decoration: none;
}

.mod_minilesson-answer.is-selected.is-incorrect {
  color: white;
  background: hsl(348, 100%, 61%);
  border-color: hsl(348, 100%, 61%);
  padding-right: 42px;
}

.mod_minilesson-answer.is-correct {
  color: white;
  background: hsl(141, 71%, 48%);
  border-color: hsl(141, 71%, 48%);
  padding-right: 42px;
}

.mod_.minilesson_match_word_character {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.mod_minilesson-answer::after {
  content: ' ';
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.mod_minilesson-answer.is-correct::after {
  background-image: url([[pix:mod_minilesson|correct]]);
}

.mod_minilesson-answer.is-selected.is-incorrect::after {
  background-image: url([[pix:mod_minilesson|incorrect]]);
}

.mod_minilesson-btn,
.mod_minilesson-btn:hover,
.mod_minilesson-btn:focus,
.mod_minilesson-btn:visited,
.mod_minilesson-btn:active {
  border-radius: 5px;
  background: hsl(204, 86%, 53%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
}

.mod_minilesson-btn.inactive,
.mod_minilesson-btn:hover.inactive,
.mod_minilesson-btn:focus.inactive,
.mod_minilesson-btn:visited.inactive,
.mod_minilesson-btn:active.inactive {
  background: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 21%);
}

.mod_minilesson-btn-recorder-like {
  border: 2px solid #000;
  border-radius: 5px;
  background: #cbf2dc;
  color: #444;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 80px;
}

/**
 * Source: https://leaverou.github.io/bubbly/
 */

.mod_minilesson-speech-bubble {
  position: relative;
  background: #f7f7f7;
  border-radius: 0.4em;
}

.mod_minilesson-speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #f7f7f7;
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}

.mod_minilesson-speech-bubble-content {
  text-align: center;
  font-size: 25px;
  padding: 25px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 35px;
}

.mod_minilesson-speech-bubble.size-medium .mod_minilesson-speech-bubble-content {
  font-size: 20px;
  padding: 10px;
  min-height: auto;
  line-height: 25px;
}

.mod_minilesson-speech-bubble.size-large .mod_minilesson-speech-bubble-content {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  min-height: auto;
  line-height: 25px;
}

.mod_minilesson-bloom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mod_minilesson-bloom img {
  position: absolute;
  /* The delay is set according to the blooming animation */
  animation: minilesson-bloom;
  animation-duration: 1200ms;
}

.mod_minilesson-mr-seed-wrapper {
  position: relative;
}

.mod_minilesson-mr-seed-wrapper .mod_minilesson-speech-bubble {
  position: absolute;
  right: 0;
  width: 50%;
}

@keyframes minilesson-bloom {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*! * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake-rotate
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */

@keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(-4.5deg);
  }

  4% {
    transform: translate(0, 0) rotate(-1.5deg);
  }

  6% {
    transform: translate(0, 0) rotate(-6.5deg);
  }

  8% {
    transform: translate(0, 0) rotate(2.5deg);
  }

  10% {
    transform: translate(0, 0) rotate(6.5deg);
  }

  12% {
    transform: translate(0, 0) rotate(-3.5deg);
  }

  14% {
    transform: translate(0, 0) rotate(7.5deg);
  }

  16% {
    transform: translate(0, 0) rotate(2.5deg);
  }

  18% {
    transform: translate(0, 0) rotate(7.5deg);
  }

  20% {
    transform: translate(0, 0) rotate(3.5deg);
  }

  22% {
    transform: translate(0, 0) rotate(1.5deg);
  }

  24% {
    transform: translate(0, 0) rotate(1.5deg);
  }

  26% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  28% {
    transform: translate(0, 0) rotate(6.5deg);
  }

  30% {
    transform: translate(0, 0) rotate(-1.5deg);
  }

  32% {
    transform: translate(0, 0) rotate(-1.5deg);
  }

  34% {
    transform: translate(0, 0) rotate(2.5deg);
  }

  36% {
    transform: translate(0, 0) rotate(-2.5deg);
  }

  38% {
    transform: translate(0, 0) rotate(1.5deg);
  }

  40% {
    transform: translate(0, 0) rotate(7.5deg);
  }

  42% {
    transform: translate(0, 0) rotate(-2.5deg);
  }

  44% {
    transform: translate(0, 0) rotate(-0.5deg);
  }

  46% {
    transform: translate(0, 0) rotate(-6.5deg);
  }

  48% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  50% {
    transform: translate(0, 0) rotate(1.5deg);
  }

  52% {
    transform: translate(0, 0) rotate(1.5deg);
  }

  54% {
    transform: translate(0, 0) rotate(4.5deg);
  }

  56% {
    transform: translate(0, 0) rotate(-4.5deg);
  }

  58% {
    transform: translate(0, 0) rotate(5.5deg);
  }

  60% {
    transform: translate(0, 0) rotate(-3.5deg);
  }

  62% {
    transform: translate(0, 0) rotate(-0.5deg);
  }

  64% {
    transform: translate(0, 0) rotate(7.5deg);
  }

  66% {
    transform: translate(0, 0) rotate(6.5deg);
  }

  68% {
    transform: translate(0, 0) rotate(-6.5deg);
  }

  70% {
    transform: translate(0, 0) rotate(-4.5deg);
  }

  72% {
    transform: translate(0, 0) rotate(3.5deg);
  }

  74% {
    transform: translate(0, 0) rotate(-2.5deg);
  }

  76% {
    transform: translate(0, 0) rotate(-4.5deg);
  }

  78% {
    transform: translate(0, 0) rotate(1.5deg);
  }

  80% {
    transform: translate(0, 0) rotate(1.5deg);
  }

  82% {
    transform: translate(0, 0) rotate(-2.5deg);
  }

  84% {
    transform: translate(0, 0) rotate(-3.5deg);
  }

  86% {
    transform: translate(0, 0) rotate(-6.5deg);
  }

  88% {
    transform: translate(0, 0) rotate(-0.5deg);
  }

  90% {
    transform: translate(0, 0) rotate(5.5deg);
  }

  92% {
    transform: translate(0, 0) rotate(4.5deg);
  }

  94% {
    transform: translate(0, 0) rotate(-1.5deg);
  }

  96% {
    transform: translate(0, 0) rotate(1.5deg);
  }

  98% {
    transform: translate(0, 0) rotate(-3.5deg);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.mod_minilesson-shake {
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

.mod_minilesson_grading_passageactions {
  margin-top: 10px;
  display: flex;
}

.minilesson_speechcards_container {
  border: 1px solid darkgray;
  margin-bottom: 5px;
  padding: 10px;
}

.minilesson-poodllspeechcards_box {
  text-align: center;
  width: 60%;
  /*225px;*/
  font-size: 25px;
}

.minilesson_wordshuffle_player_box .wordshuffle_results {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  background-color: rgba(98, 135, 182, 1);
  font-weight: bold;
  color: white;
  text-align: center;
  z-index: 999;
}

.audiochatavtarimage-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.audiochatavtarimage-container .avatar-image-check .form-check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.audiochatavtarimage-container .avatar-image-check .avatar-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  border: 2px solid lightgray;
}

.audiochatavtarimage-container .avatar-image-check .form-check-input:checked+.avatar-img {
  border: 2px solid #1177d1;
}

#scrolldownbtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* Simple-Keyboard CSS */

/*!
 * 
 *   simple-keyboard v3.8.107
 *   https://github.com/hodgef/simple-keyboard
 *
 *   Copyright (c) Francisco Hodge (https://github.com/hodgef) and project contributors.
 *
 *   This source code is licensed under the MIT license found in the
 *   LICENSE file in the root directory of this source tree.
 *
 */
.hg-theme-default {
  background-color: #ececec;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  overflow: hidden;
  padding: 5px;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%
}

.hg-theme-default .hg-button span,
.hg-theme-default .hg-button span svg {
  pointer-events: none
}

.hg-theme-default button.hg-button {
  border-width: 0;
  font-size: inherit
}

.hg-theme-default .hg-button {
  display: inline-block;
  flex-grow: 1
}

.hg-theme-default .hg-row {
  display: flex
}

.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 5px
}

.hg-theme-default .hg-row .hg-button-container,
.hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px
}

.hg-theme-default .hg-row>div:last-child {
  margin-right: 0
}

.hg-theme-default .hg-row .hg-button-container {
  display: flex
}

.hg-theme-default .hg-button {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #b5b5b5;
  border-radius: 5px;
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.hg-theme-default .hg-button.hg-standardBtn {
  width: 20px
}

.hg-theme-default .hg-button.hg-activeButton {
  background: #efefef
}

.hg-theme-default.hg-layout-numeric .hg-button {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 33.3%
}

.hg-theme-default .hg-button.hg-button-numpadadd,
.hg-theme-default .hg-button.hg-button-numpadenter {
  height: 85px
}

.hg-theme-default .hg-button.hg-button-numpad0 {
  width: 105px
}

.hg-theme-default .hg-button.hg-button-com {
  max-width: 85px
}

.hg-theme-default .hg-button.hg-standardBtn.hg-button-at {
  max-width: 45px
}

.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, .53);
  color: #fff
}

.hg-theme-default .hg-button.hg-standardBtn[data-skbtn=".com"] {
  max-width: 82px
}

.hg-theme-default .hg-button.hg-standardBtn[data-skbtn="@"] {
  max-width: 60px
}

.hg-candidate-box {
  background: #ececec;
  border-bottom: 2px solid #b5b5b5;
  border-radius: 5px;
  display: inline-flex;
  margin-top: -10px;
  position: absolute;
  transform: translateY(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

ul.hg-candidate-box-list {
  display: flex;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0
}

li.hg-candidate-box-list-item {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px
}

li.hg-candidate-box-list-item:hover {
  background: rgba(0, 0, 0, .03);
  cursor: pointer
}

li.hg-candidate-box-list-item:active {
  background: rgba(0, 0, 0, .1)
}

.hg-candidate-box-prev:before {
  content: "◄"
}

.hg-candidate-box-next:before {
  content: "►"
}

.hg-candidate-box-next,
.hg-candidate-box-prev {
  align-items: center;
  color: #969696;
  cursor: pointer;
  display: flex;
  padding: 0 10px
}

.hg-candidate-box-next {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px
}

.hg-candidate-box-prev {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px
}

.hg-candidate-box-btn-active {
  color: #444
}

.vkeyboard-shifted .hg-button.hg-button-shift {
  background-color: #444 !important;
  color: #fff !important;
}

.ml_simple_keyboard_toggle:focus {
  outline: 2px solid #506dff !important;
  outline-offset: -2px;
}

/* MiniLesson Restore Incomplete Attempt Feature */

#page-mod-minilesson-view .restore_lesson {
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 470px;
}

#page-mod-minilesson-view .restore_lesson_header {
  margin-top: 10px;
}

#page-mod-minilesson-view .restore_lesson_text {
  margin-top: 25px;
  margin-bottom: 25px;
}

#page-mod-minilesson-view .restore_lesson .ml-continueformbuttons .col-md-9 {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

#page-mod-minilesson-view .restore_lesson .ml-continueformbuttons fieldset>div {
  justify-content: center !important;
}

#page-mod-minilesson-view .restore_lesson .ml-continueformbuttons #id_continue {
  background-color: #5067FF;
  border-color: #5067FF;
}

#page-mod-minilesson-view .restore_lesson .ml-continueformbuttons #id_delete {
  background-color: #6c757d;
  border-color: #6c757d;
}

.ml-continueformbuttons .align-items-center {
  justify-content: center;
}