
div.poodlldictationplayer {
  position: relative;
  min-width: 50px;
}

.poodlldictationinput {
  flex-grow: 1;
}

.poodlldictationstatus {
  text-align: center;
  position: relative;
  min-width: 50px;
}
