@use '../../abstracts/variables' as *;

// Freewriting activity component

.ml_freewriting_startscreen .freewriting_image_container {
  background-color: $warning-light;
}

.ml_freewriting_actionbox {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 36px;
}

.minilesson_freewriting_box {
    width: 100%;
}
