// Freewriting activity component

.ml_freewriting_submitbutton {
  margin: auto;
  width: 80%;
}

textarea.ml_freewriting_textarea {
  width: 100%;
}

.ml_freewriting_actionbox {
  text-align: center;
}
