// Multichoice activity component (multichoice + multichoice audio)

// Choices wrapper
.mcchoiceswrapper {
  &.multichoice_twocolumnlayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    .mcplayrow {
      margin-bottom: 0;
    }
  }
}

// Choice row
.mcplayrow {
  margin: 5px 5px 10px 5px;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

// Response option
.minilesson_mc_response {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 1.33em;
  overflow: auto;
  margin-bottom: 5px;

  &.minilesson_mc_selected {
    background-color: lightblue;
  }

  &.minilesson_mc_disabled {
    pointer-events: none;
  }
}

// Result icons container
.minilesson_mc_resultbox {
  float: right;
  padding-left: 8px;

  .minilesson_mc_right {
    color: green;
  }

  .minilesson_mc_wrong {
    color: red;
  }

  .minilesson_mc_unanswered {
    color: black;
  }
}

// Confirm choice button
.minilesson_mc_confirmchoice {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.33em;
  overflow: auto;
}

// Audio player
div.mcaudioplayer {
  position: relative;
  min-width: 50px;

  .mc_playbutton_container {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.33em;
  }

  .minilesson_mc_playstate {
    float: right;
  }
}

// Audio transcript area
div.mcaudiotranscript {
  flex-grow: 1;
}

// Image container
.minilesson_mc_image {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}
