// Speechcards activity component

.minilesson_speechcards_target_phrase {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  font-size: 32px;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  margin-top: 10px;
  margin-bottom: 10px;
}
