{{!
    @template minilessonitem_fiction/fiction_storymessage

    Single text block/paragraph for Storymode.

    Example context (json):
    {
        "classname": "hasmedia",
        "charactermedia": "<img src='...'>",
        "charactertext": "Once upon a time..."
    }
}}
<div class="story-paragraph {{classname}}">
    {{#charactermedia}}
        <div class="mediacontainer">
            {{{charactermedia}}}
        </div>
    {{/charactermedia}}
    {{#charactertext}}
        <div class="textcontent">
            {{{charactertext}}}
        </div>
    {{/charactertext}}
    {{#taptotranslate}}
        <button type="button" class="fiction-translate-icon" aria-label="{{taptotranslatearia}}"
            title="{{taptotranslatearia}}" data-translatetext="{{translatesource}}">
            <i class="fa fa-language" aria-hidden="true"></i>
        </button>
    {{/taptotranslate}}
</div>
