@use '../abstracts/variables' as *;

:is(.freespeaking-item-box,.freewriting-item-box,.scatter-item-box,.audiochat-item-box) .activity-wrapper,
:is(.freespeaking-item-box,.freewriting-item-box,.scatter-item-box,.audiochat-item-box) .startmodule_splashscreen,
.minilesson_lgapfill_player_box {
  box-shadow: 0px 2px 20px 0px rgba($black, 0.12);
  position: relative;
  margin: auto;
  background-color: $white;
  border-radius: 8px;
  overflow: hidden;
}

.startmodule_splashscreen .startmodule_title {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 0;
  font-size: 24px;
  font-weight: bold;
  color: $heading-navy;
}

.startmodule_splashscreen .startmodule_mainmenu {
  text-align: center;
}

.startmodule_splashscreen .startmodule_btn,
.minilesson_lgapfill_player_box .lgapfill_start_btn {
  background-color: $primary;
  margin-top: 0;
  width: 96px;
  height: 36px;
  border-radius: 8px;
  border-color: $primary;
  color: $white;
  padding: 6px 20px;
}

.startmodule_splashscreen .startmodule_btn:is(:hover,:focus,:active),
.minilesson_lgapfill_player_box .lgapfill_start_btn:hover,
.minilesson_lgapfill_player_box .lgapfill_start_btn:focus,
.minilesson_lgapfill_player_box .lgapfill_start_btn:active {
  background-color: $primary-hover;
  border-color: $primary-hover;
  outline: 0;
  box-shadow: none;
  color: $white;
}

.startmodule_splashscreen .startmodule_image,
.minilesson_lgapfill_player_box .lgapfill_image {
  padding: 20px;
  border-radius: 100%;
  background: $lavender-bg;
  overflow: visible;
  height: 70px;
  width: 70px;
}

.ml_freewriting_startscreen .freewriting_image,
.ml_freespeaking_startscreen .freespeaking_image {
  background-color: $warning-light;
}