@use '../abstracts/variables' as *;

// Box styling for splashscreen containers and activity wrappers
:is(.freespeaking-item-box,.freewriting-item-box,.scatter-item-box,.audiochat-item-box) .activity-wrapper,
:is(.freespeaking-item-box,.freewriting-item-box,.scatter-item-box,.audiochat-item-box) .startmodule_splashscreen {
  box-shadow: 0px 2px 20px 0px rgba($black, 0.12);
  position: relative;
  margin: auto;
  background-color: $white;
  border-radius: 8px;
  overflow: hidden;
}

// Shared start screen elements (scoped for specificity 0,2,0)
:is(.startmodule_splashscreen, .item-container) {

  .startmodule_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 36px auto 0;
    height: 70px;
    width: 70px;
    background: $lavender-bg;
    border-radius: 100%;
    /*
    .startmodule_image {
    }
    */

  }

  .startmodule_title {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1rem;
    padding: 12px 0;
    font-size: 24px;
    font-weight: bold;
    color: $heading-navy;
  }

  .start_mainmenu {
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }

  .startmodule_btn {
    background-color: $primary;
    margin-top: 0;
    width: 96px;
    height: 36px;
    border-radius: 8px;
    border-color: $primary;
    color: $white;
    padding: 6px 20px;
    margin-left: auto;
    margin-right: auto;

    &:hover,
    &:focus,
    &:active {
      background-color: $primary-hover;
      border-color: $primary-hover;
      outline: 0;
      box-shadow: none;
      color: $white;
    }
  }

  .startmodule_description {
    color: $text;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: calc(70%);
  }
}

// Activity-specific image overrides
.ml_freewriting_startscreen .freewriting_image,
.ml_freespeaking_startscreen .freespeaking_image {
  background-color: $warning-light;
}
