<div style='background-image:url({{wwwroot}}/mod/poodlltime/pix/{{type}}.png)' id="mod_poodlltime_qedit_{{type}}" data-qtype="{{type}}" data-id="0" data-type="edit" class="mod_poodlltime_addlink mod_poodlltime_link_box">
  <div class='mod_poodlltime_link_box_title'>
    {{label}}
  </div>
</div>