<a id="mod_poodlltime_qedit_{{type}}" data-qtype="{{type}}" data-id="0" data-type="edit" class="mod_poodlltime_addlink"
   href="{{wwwroot}}/mod/poodlltime/rsquestion/managersquestions.php?id={{cmid}}&itemid={{itemid}}&type={{type}}">{{label}}</a>