<div id="{{uniqid}}" class="ml_aigen">
    <h1> AIGEN </h1>
    <div><span>This page is for creating AI Generate config files for MiniLesson.</span><br />
       <span> 1) Paste in a full minilesson JSON export/import file. That will be the template for this lesson. Then press Import JSON. The page will reload.</span></br> 
       <span> 2) Configure each item. Its quite complicated. Its not really for end users, its for Poodll devs.</span><br>
       <span> 3) Give the new lesson template a title and description and generate the config. </span><br />
       <span> 4) Copy the JSON and save it to a json file. It should be called something_config.json. And the original json you imported from should be called something_template.json. Both those files should be put in the mod/minilesson/lessontemplates folder. Then they will be available for use in the AI generate tab. </span><br />
        <span>NB Pressing Import JSON will reload the page. You will lose all the config you entered.</span><br />
    </div>
    <hr />
    <h3>1. Paste in an exported JSON import file</h3>
    {{{aigenform}}}
    <h3>2. Configure Items</h3>
    <div id="{{uniqid}}" class="ml_aigen_items">
    {{#items}}
        <div class="ml_aigen_item" data-itemnumber="{{itemnumber}}">
        <fieldset>
            <legend>[{{itemnumber}}] {{name}} </legend>
            Type: {{type}} <br />
            Generate Method:
            <select name="generatemethod">
                <option value="generate">Generate</option>
                <option value="extract">Extract</option>
                <option value="reuse">Re-use</option>
            </select>
            <textarea class="ml_aigen_promptbox" name="aigenprompt" data-generateprompt="{{aigenpromptgenerate}}" data-extractprompt="{{aigenpromptextract}}" data-reuseprompt=""  style="width: 100%; max-width: 1200px;">{{aigenprompt}}</textarea>
            <div class="ml_aigen_mappings" data-promptfields="" data-generatemethod="generate" data-aigenplaceholders="{{#aigenplaceholders}}{{.}},{{/aigenplaceholders}}" data-availablecontext="{{#availablecontext}}{{.}},{{/availablecontext}}">
                {{> mod_minilesson/aigenmappings}}
            </div>
            <div class="ml_aigen_filearea_mappings" data-aigenfileareas="{{#aigenfileareas}}{{.}},{{/aigenfileareas}}" data-aigenplaceholders="{{#aigenplaceholders}}{{.}},{{/aigenplaceholders}}" data-contextfileareas="{{#contextfileareas}}{{.}},{{/contextfileareas}}">
                {{> mod_minilesson/aigenfilemappings}}
            </div>
            </fieldset>
            <hr/>
        </div>
    {{/items}}
    </div>
     <h3>3. Create the Lesson Template JSON config</h3>
     <div id="{{uniqid}}_ml_aigen_lesson_title" class="ml_aigen_lesson_title">
        <label>Lesson Template Title</label>
        <input name="lessontitle" type="text"></input>
     </div>
     <div id="{{uniqid}}_ml_aigen_lesson_description" class="ml_aigen_lesson_description">
        <label>Lesson Template Title Description</label>
        <textarea name="lessondescription" style="width: 100%; max-width: 1200px;"></textarea>
     </div>   
    <div class="ml_aigen_gen_aigen_make_btn" id='{{uniqid}}_aigen_make_btn'>
        <a class="btn btn-primary" href="#">Create JSON Config</a><br />
        <hr>
         <label>The Generated Config JSON</label><br />
        <textarea class="ml_aigen_make_textarea" id='{{uniqid}}_aigen_make_textarea' style="width: 100%; max-width: 1200px;"></textarea>    
    </div>
</div>
{{^element.frozen}}
    {{#js}}
        require(['jquery', 'mod_minilesson/aigenmake'], function($, aigenmake) {
            aigenmake.init('{{uniqid}}');
        });
    {{/js}}
{{/element.frozen}}