<button type="button" class="btn btn-primary" data-action="generate">{{#str}} aihelper_generate_btn, mod_minilesson {{/str}}</button>
<button type="button" class="btn btn-success d-none" data-action="apply">{{#str}} aihelper_apply_btn, mod_minilesson {{/str}}</button>
<button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal" data-bs-dismiss="modal">{{#str}} cancel, core {{/str}}</button>
