<div class='ml-ac-review_feedback text-center'>
    <div class="ml_ac_results_summary">
        {{#stars}}
            {{#filled}}
                <span><img src="{{{yellow_starImgurl}}}"/></span>
            {{/filled}}
            {{^filled}}
                <span><img src="{{{gray_starImgurl}}}"/></span>
            {{/filled}}
        {{/stars}}
    </div>
    <hr/>
    {{#resultsdata.aifeedback}}
       <b class="audiochat-feedback-title">{{#str}}feedback, mod_minilesson{{/str}}</b>
       <p class="ml_ac_feedback_text">{{resultsdata.aifeedback}}</p>
    {{/resultsdata.aifeedback}}
</div>
<!--
<p class='show-detailed-feedback'>
    <a class="btn btn-primary ml-ac-bigbutton" data-toggle="collapse" href="#ml-ac-chatreview-container" role="button" aria-expanded="false" aria-controls="ml-ac-chatreview-container">
        <i class="fa fa-list"></i> {{#str}}audiochat_conversation, mod_minilesson{{/str}}
    </a>
</p>
<div id="ml-ac-chatreview-container" class="collapse" style='text-align:center;overflow:hidden;'>
    <div class="ml-ac-detailed_feedback_div position-relative">
        {{#resultsdata.items}}
        <div class="audiochat-results-message {{usertype}}">
            {{{content}}}
        </div>
        {{/resultsdata.items}}
    </div>
</div>
-->