{{> mod_minilesson/questionheader}}
{{#sentences}}
<div class="row mcplayrow">
    <div class="col-md-12 bqaudiotranscript_{{index}}">
        <div class="minilesson_bq_response {{rtl}}" data-index="{{indexplusone}}" id="{{uniqueid}}_option{{indexplusone}}" name="{{uniqueid}}_options" >
            <span class="minilesson_sentence">{{prompt}}</span>
            <span class="minilesson_bq_resultbox">
                 <i class="fa fa-check fa-lg minilesson_bq_right" style="display: none;"></i>
                 <i class="fa fa-times fa-lg minilesson_bq_wrong" style="display: none;"></i>
                 </span>
        </div>
    </div>
</div>
{{/sentences}}
<div class="row bqplayrow">
    <div class="col-md-6" style="margin-left: auto;margin-right: auto">
        <div class="minilesson_bq_confirmchoice" style="display: none;" >
            <span class="minilesson_sentence">{{#str}}confirmchoice, mod_minilesson{{/str}}</span>
        </div>
    </div>
</div>
{{> mod_minilesson/questionfooter}}