<!-- @@CLOUDPOODLLTOKEN@@ -->

<div id="{{uniqueid}}_container" class="dictate_container">

  <div style="display:none;" class="dictate_results">RESULTS</div>

  <div class="dictate_title text-center">Listen and Type</div>

  <div class="dictate_mainmenu">
    <div class="dictate_loaded" style="display:none;">
      <p>Listen and type the sentences spoken by the computer.</p>
      <p>Click 'Start' to begin the game!</p>
    </div>
    <div class="dictate_not_loaded">
      <p>Loading..</p>
    </div>
  </div>

  <div style="display:none;" class="dictate_game"></div>

  <button disabled class='btn btn-block btn-primary dictate_start_btn'>
    <i class='fa fa-play'></i> Start
</button>

  <div style="display:none;" class="dictate_controls">

    <button class="btn btn-secondary dictate_ctrl-btn dictate_listen_btn">
        <i class="fa fa-volume-up"></i> Listen
    </button>

    <button class="btn btn-success dictate_ctrl-btn dictate_check_btn">
        <i class="fa fa-check"></i> Check
    </button>


    <button class="btn btn-danger dictate_ctrl-btn dictate_skip_btn">
        Skip <i class="fa fa-arrow-right"></i>
    </button>

  </div>
</div>

<button type="button" class="btn btn-secondary poodlltime_nextbutton">Next</button>