
<audio id="{{uniqueid}}_player"></audio>
<!-- @@CLOUDPOODLLTOKEN@@ -->
<span><b>QUESTION {{number}}: {{text}}</b></span><br>

<ul>
{{#sentences}}
    <li>({{index}}) {{sentence}}</li>
{{/sentences}}
</ul>
</div>
