<div id="{{uniqueid}}_container" class="poodlltime_questioncontainer" style="display: none">
  
  <audio id="{{uniqueid}}_player"></audio>
  <!-- @@CLOUDPOODLLTOKEN@@ -->
   <span><b>QUESTION {{number}}: {{text}}</b></span><br>

  {{#sentences}}
  <div class="row dictationrow">
    <div class="col-md-1 poodlldictationplayer dictationplayer_{{index}}">
      <a class="dictationtrigger" data-src="@AUDIO@"><i class="fa fa-play"></i></a>
    </div>
    <div class="col-md-10 poodlldictationinput dictationinput_{{index}}"><input data-index="{{index}}" type="text"></input>
    </div>
    <div class="col-md-1">
      <div id="dictationstatus_{{index}}" class="poodlldictationstatus"><i data-index="{{index}}" class="dictate-feedback fa fa-times"></i></div>
    </div>
  </div>
  {{/sentences}}

    <button type="button" class="poodlltime_nextbutton">Next</button>

</div>
