{{#presention_mobilechat}}
    {{#yarnoptions}}
        {{#options}}
            <div class="option_container minilesson_fiction_optionbutton">
                <div class="optiontext">{{text}}</div>
                <span>
                    <i class="fa fa-paper-plane"></i>
                </span>
            </div>
        {{/options}}
    {{/yarnoptions}}
{{/presention_mobilechat}}
{{^presention_mobilechat}}
    {{#options}}
        <button class="minilesson_fiction_optionbutton" type="button">{{text}}</button>
    {{/options}}
{{/presention_mobilechat}}

