{{!
    @template mod_minilesson/fiction_storyplayermessage

    Player's choice rendered as text in Storymode.

    Example context (json):
    {
        "playertext": "I chose to open the door."
    }
}}
<div class="story-paragraph player-choice">
    <div class="textcontent">
        {{{playertext}}}
    </div>
</div>
