{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_minilesson/fictionplain

    TODO describe template fictionplain

    Example context (json):
    {
    }
}}
 <div class="minilesson_fiction_yarncontainer plain">
    <div class="minilesson_fiction_yarntext"></div>
    <div class="minilesson_fiction_yarnmedia" style="{{^hasmedia}}display: none;{{/hasmedia}}"></div>
    <div class="minilesson_fiction_yarnoptions"></div>
</div>
<button type="button" class="minilesson_fiction_continuebutton btn btn-success m-2" style="width: 280px">{{#str}}continue{{/str}}</button>