<div class="minilesson_fiction_yarncontainer">
    <div class="minilesson_fiction_yarntext"></div>
    <div class="minilesson_fiction_yarnimage" style="min-width: 300px; min-height: 300px; max-width: 300px; background-color: lightgray"></div>
    <div class="minilesson_fiction_yarnoptions"></div>
</div>
<button type="button" class="minilesson_fiction_continuebutton btn btn-success m-2">{{#str}}continue{{/str}}</button>