{{> mod_minilesson/questionheader}}
<div class="minilesson_fluency_box item-container">
    <div style="display:none;" class="fluency_results">{{#str}}fluencyresults, mod_minilesson{{/str}}</div>

    <div class="maintitle fluency_maintitle" style="display: none">{{iteminstructions}}</div>
    <div class="fluency_itemtext mod_minilesson_itemtext {{rtl}}" style="display: none">{{{itemtext}}}</div>

    <div class="fluency_image_container text-center pt-5">
        <img class="fluency_image" src="{{{itemimageurl}}}" alt="{{#str}}fluency, mod_minilesson{{/str}}">
    </div>

    <div class="fluency_title text-center mt-3">{{#str}}fluency, mod_minilesson{{/str}}</div>

    <div class="fluency_description mt-3 text-center">{{iteminstructions}}</div>

    <div class="fluency_mainmenu mt-3 pb-5">
        <div class="fluency_loaded" style="display:none;">
            <button disabled class='btn btn-block fluency_start_btn'>
                {{#str}}start, mod_minilesson{{/str}}  <i class='fa fa-play ml-1'></i>
            </button>
        </div>
        <div class="fluency_not_loaded">
            <p>{{#str}}loading, mod_minilesson{{/str}}</p>
        </div>
    </div>
    <div class="fluency_mainstage">
        {{> mod_minilesson/progresstimer }}

        <div style="display:none;" class="fluency_listen_cont">
            <button class="btn  fluency_listen_btn audiomodel">
                <i class="fa fa-volume-up"></i>
            </button>
            <button class="btn  fluency_listen_btn audioself ml-3" style="display: none">
                <i class="fa fa-play"></i>
            </button>
        </div>

        <div style="display:none;" class="question"></div>
        <div class="ml_fluency_pendingbox hidden"><center><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i></center></div>
        <div style="display:none;" class="fluency_controls pb-2">
            <div class="ml_fluency_speakbtncontainer">
                    {{> mod_minilesson/ttrecorder}}
            </div>
            <button class="btn fluency_ctrl_btn fluency_skip_btn my-4">
                <span class="skip_btn_label mobileaccesshide">{{#str}}skip-fluency, mod_minilesson{{/str}}</span> <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    <!-- end of fiuency mainstage -->
    </div>
    <div class="fluency_resultscontainer"></div>

</div>
{{> mod_minilesson/questionfooter}}