{{> mod_minilesson/questionheader}}
<div class="minilesson_fluency_box item-container">
    <div style="display:none;" class="fluency_results">{{#str}}fluencyresults, mod_minilesson{{/str}}</div>

    <div class="maintitle fluency_maintitle" style="display: none">{{iteminstructions}}</div>
    <div class="fluency_itemtext mod_minilesson_itemtext {{rtl}}" style="display: none">{{{itemtext}}}</div>

    <div class="startmodule_image_container fluency_image_container">
        <img class="startmodule_image fluency_image" src="{{{itemimageurl}}}" alt="{{#str}}fluency, mod_minilesson{{/str}}">
    </div>

    <div class="startmodule_title fluency_title">{{#str}}fluency, mod_minilesson{{/str}}</div>

    <div class="startmodule_description fluency_description">{{iteminstructions}}</div>

    <div class="start_mainmenu fluency_mainmenu">
        <div class="fluency_loaded" style="display:none;">
            <button disabled class='btn startmodule_btn fluency_start_btn'>
                {{#str}}start, mod_minilesson{{/str}}  <i class='fa fa-play ml-1'></i>
            </button>
        </div>
        <div class="fluency_not_loaded">
            <p>{{#str}}loading, mod_minilesson{{/str}}</p>
        </div>
    </div>
    <div class="fluency_mainstage">
        {{> mod_minilesson/progresstimer }}

        <div style="display:none;" class="fluency_listen_cont">
            <button class="btn  fluency_listen_btn audiomodel">
                <i class="fa fa-volume-up"></i>
            </button>
            <button class="btn  fluency_listen_btn audioself ml-3" style="display: none">
                <i class="fa fa-play"></i>
            </button>
        </div>

        <div style="display:none;" class="question"></div>
        <div class="ml_fluency_pendingbox hidden"><center><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i></center></div>
        <div style="display:none;" class="fluency_controls pb-2">
            <div class="ml_fluency_speakbtncontainer">
                    {{> mod_minilesson/ttrecorder}}
            </div>
            <button class="btn btn-skip-button-secondary fluency_ctrl_btn fluency_skip_btn my-4">
                <span class="skip_btn_label mobileaccesshide">{{#str}}skip-fluency, mod_minilesson{{/str}}</span>{{#pix}}skip-icon, mod_minilesson{{/pix}}
            </button>
        </div>
    <!-- end of fiuency mainstage -->
    </div>
    <div class="resultscontainer fluency_resultscontainer"></div>

</div>
{{> mod_minilesson/questionfooter}}