{{> mod_minilesson/questionheader}}
<div class="minilesson_fluency_box">
    <div style="display:none;" class="fluency_results">{{#str}}fluencyresults, mod_minilesson{{/str}}</div>

    <div class="fluency_title text-center">{{#str}}fluency, mod_minilesson{{/str}}</div>

    <div class="fluency_mainmenu">
        <div class="fluency_loaded" style="display:none;">
            <button disabled class='btn btn-block btn-primary fluency_start_btn'>
                <i class='fa fa-play'></i> {{#str}}start, mod_minilesson{{/str}}
            </button>
        </div>
        <div class="fluency_not_loaded">
            <p>{{#str}}loading, mod_minilesson{{/str}}</p>
        </div>
    </div>
    <div class="fluency_mainstage">
        {{> mod_minilesson/progresstimer }}

        <div style="display:none;" class="fluency_listen_cont">
            <button class="btn btn-secondary fluency_listen_btn audiomodel">
                <i class="fa fa-play"></i>
            </button>
            <button class="btn btn-secondary fluency_listen_btn audioself" style="display: none">
                <i class="fa fa-play"></i>
            </button>
        </div>

        <div style="display:none;" class="question"></div>
        <div class="ml_fluency_pendingbox hidden"><center><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i></center></div>
        <div style="display:none;" class="fluency_controls">
            <div class="ml_fluency_speakbtncontainer" style="width:246px;margin:auto;position: absolute;left: 0px;right: 0px;bottom: 0px;display: block;">
                    {{> mod_minilesson/ttrecorder}}
            </div>
            <button class="btn btn-danger fluency_ctrl_btn fluency_skip_btn">
                <span class="skip_btn_label mobileaccesshide">{{#str}}skip-fluency, mod_minilesson{{/str}}</span> <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    <!-- end of fiuency mainstage -->
    </div>
    <div class="fluency_resultscontainer"></div>

</div>
{{> mod_minilesson/questionfooter}}