{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_minilesson/lessonbankcontrols

    TODO describe template lessonbankcontrols

    Example context (json):
    {
    }
}}

<div class="d-flex align-items-center justify-content-end mt-1 mb-1">
    <div class="countcontainer mr-auto"> {{lessonbankitemcount}} </div>
    <div class="lessonbanklayoutbox align-items-center d-flex ml-3">
        <button class="btn listlayoutbtn">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="8" y1="6" x2="21" y2="6"/><line x1="8" y1="12" x2="21" y2="12"/><line x1="8" y1="18" x2="21" y2="18"/><line x1="3" y1="6" x2="3.01" y2="6"/><line x1="3" y1="12" x2="3.01" y2="12"/><line x1="3" y1="18" x2="3.01" y2="18"/></svg>
        </button>
        <button class="btn gridlayoutbtn active">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="7" height="7"/><rect x="14" y="3" width="7" height="7"/><rect x="14" y="14" width="7" height="7"/><rect x="3" y="14" width="7" height="7"/></svg>
        </button>
    </div>
</div>
<template id="mod_minilesson-spinner">
    <i class='icon fa fa-spinner fa-pulse fa-fw ' aria-hidden='true'></i>
</template>
<template id="mod_minilesson-preview-iframe">
    <iframe src="" style="width: 100%; height: 700px; border: none;" allow="microphone; camera; autoplay"></iframe>
</template>