{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_minilesson/lessonbank_skeleton_row

    Skeleton placeholder row for list layout loading.

    Example context (json):
    {
    }
}}
<tr class="lbsf-skeleton-card">
    <td class="imgcolumn"><div class="lbsf-skeleton lbsf-skeleton--image-sm"></div></td>
    <td><div class="lbsf-skeleton lbsf-skeleton--title-sm"></div></td>
    <td><div class="lbsf-skeleton lbsf-skeleton--cell"></div></td>
    <td><div class="lbsf-skeleton lbsf-skeleton--cell"></div></td>
    <td><div class="lbsf-skeleton lbsf-skeleton--cell"></div></td>
    <td><div class="lbsf-skeleton lbsf-skeleton--text"></div></td>
    <td><div class="lbsf-skeleton lbsf-skeleton--cell-short"></div></td>
    <td><div class="lbsf-skeleton lbsf-skeleton--button"></div></td>
</tr>
