<div id="{{uniqueid}}_container" class="poodlltime_questioncontainer" style="display: none">

    <audio id="{{uniqueid}}_player"></audio>
    <!-- @@CLOUDPOODLLTOKEN@@ -->
    <div class="poodlltime_questionheader"><b>QUESTION {{number}}: {{text}}</b></div><br>

    <ul>
    {{#sentences}}
        <li>({{index}}) {{sentence}}</li>
    {{/sentences}}
    </ul>
    <button type="button" class="btn btn-secondary poodlltime_nextbutton">Next</button>

</div>