{{> mod_minilesson/questionheader}}
<div class="minilesson_lgapfill_player_box gapfill-container mt-5">
    <div style="display:none;" class="lgapfill_results">{{#str}}dc_results, mod_minilesson{{/str}}</div>

    <div class="lgapfill_maintitle" style="display: none">{{iteminstructions}}</div>
    <div class="lgapfill_itemtext mod_minilesson_itemtext {{rtl}}" style="display: none">{{{itemtext}}}</div>

    <div class="lgapfill_image_container text-center pt-5">
        <img class="lgapfill_image" src="{{{itemimageurl}}}" alt="{{#str}}lgapfill, mod_minilesson{{/str}}">
    </div>

    <div class="lgapfill_title text-center mt-3">{{#str}}listeninggapfill, mod_minilesson{{/str}}</div>

    <div class="lgapfill_description mt-3 text-center">{{iteminstructions}}</div>

    <div class="lgapfill_mainmenu mt-3 pb-5">
        <div class="lgapfill_loaded" style="display:none;">
            <button disabled class='btn btn-block lgapfill_start_btn'>
                {{#str}}start, mod_minilesson{{/str}} <i class='fa fa-play ml-1'></i>
            </button>

        </div>
        <div class="lgapfill_not_loaded">
            <p>{{#str}}loading, mod_minilesson{{/str}}</p>
        </div>
    </div>

    {{#timelimit}}
    {{> mod_minilesson/progresstimer }}
    {{/timelimit}}

    <div style="display:none;" class="lgapfill_listen_cont">
        <button class="btn animatesoundbtn position-relative lgapfill_listen_btn">
            <div class='soundWave'>
                <div class='bar'></div>
                <div class='bar'></div>
                <div class='bar'></div>
                <div class='bar'></div>
                <div class='bar'></div>
            </div>
        </button>
    </div>

    <div style="display:none;" class="question"></div>

    <div class="simple-keyboard simple-keyboard-{{uniqueid}}" style="padding: 5px; display: none;" aria-hidden="true"></div>

    <div style="display:none;" class="lgapfill_controls pb-3">

        <button class="btn lgapfill_ctrl-btn lgapfill_check_btn">
            <i class="fa fa-check"></i> {{#str}}check, mod_minilesson{{/str}}
        </button>

        <button class="btn lgapfill_ctrl-btn lgapfill_skip_btn">
            {{#str}}skip, mod_minilesson{{/str}} <i class="fa fa-arrow-right"></i>
        </button>

        {{#enablevkeyboard}}
            <button class="btn lgapfill_ctrl-btn ml_simple_keyboard_toggle" type="button">
                <i class="fa fa-keyboard-o"></i>
            </button>
        {{/enablevkeyboard}}

    </div>

    <div class="lgapfill_resultscontainer"></div>
</div>
{{> mod_minilesson/questionfooter}}