{{> mod_minilesson/questionheader}}
  <div class="minilesson_landr_player_box item-container">
    <div style="display:none;" class="landr_results">{{#str}}dc_results, mod_minilesson{{/str}}</div>

    <div class="maintitle landr_maintitle" style="display: none">{{iteminstructions}}</div>
    <div class="landr_itemtext mod_minilesson_itemtext {{rtl}}" style="display: none">{{{itemtext}}}</div>

    <div class="startmodule_image_container landr_image_container">
        <img class="startmodule_image landr_image" src="{{{itemimageurl}}}" alt="{{#str}}listenandrepeat, mod_minilesson{{/str}}">
    </div>

    <div class="startmodule_title landr_title">{{#str}}listenandrepeat, mod_minilesson{{/str}}</div>

    <div class="startmodule_description landr_description">{{iteminstructions}}</div>

    <div class="start_mainmenu landr_mainmenu">
      <div class="landr_loaded" style="display:none;">
          <button disabled class='btn startmodule_btn landr_start_btn'>
              {{#str}}start, mod_minilesson{{/str}} <i class='fa fa-play ml-1'></i>
          </button>
      </div>
      <div class="landr_not_loaded">
        <p>{{#str}}loading, mod_minilesson{{/str}}</p>
      </div>
    </div>

    {{> mod_minilesson/progresstimer }}

    <div style="display:none;" class="landr_listen_cont">
      <button class="btn  landr_ctrl-btn landr_listen_btn">
        <i class="fa fa-volume-up"></i>
      </button>
    </div>

    <div style="display:none;" class="landr_game {{rtl}}"></div>

    <div style="display:none;" class="landr_controls pb-2">
      <div class="landr_speakbtncontainer">
          {{> mod_minilesson/ttrecorder}}
      </div>
        <button class="btn btn-skip-button-secondary landr_ctrl-btn landr_skip_btn my-4">
          <span class="mobileaccesshide">{{#str}}skip, mod_minilesson{{/str}}</span>{{#pix}}skip-icon, mod_minilesson{{/pix}}
        </button>
    </div>

    <div class="resultscontainer landr_resultscontainer"></div>

  </div>

{{> mod_minilesson/questionfooter}}