<div id="minilesson_loading" class="minilesson_loading">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><br>
    <span class="minilesson_loadingtext">{{#str}}loading, mod_minilesson{{/str}}</span>
</div>