{{> mod_minilesson/questionheader}}
    {{#sentences}}
        <div class="minilesson_mc_response" data-index="{{index}}" id="{{uniqueid}}_option{{indexplusone}}" name="{{uniqueid}}_options" >
            <span class="minilesson_sentence">{{displaysentence}}</span>
            <i class="fa fa-play fa-lg minilesson_mc_playstate"></i>
            <i class="fa fa-check fa-lg minilesson_mc_right" style="display: none;"></i>
            <i class="fa fa-times fa-lg minilesson_mc_wrong" style="display: none;"></i>
        </div>
    {{/sentences}}

    {{> mod_minilesson/cloudpushrecorder}}
    {{> mod_minilesson/ttrecorder}}

{{> mod_minilesson/questionfooter}}