<div id="{{uniqueid}}_container" class="poodlltime_questioncontainer" style="display: none">

  <audio id="{{uniqueid}}_player"></audio>
  <!-- @@CLOUDPOODLLTOKEN@@ -->
  <div class="poodlltime_questionheader"><b>QUESTION {{number}}: {{text}}</b></div><br>

  <div class="custom-control custom-radio">
    <input data-index="1" type="radio" id="{{uniqueid}}_option1" name="{{uniqueid}}_options" class="custom-control-input {{uniqueid}}_option">
    <label class="custom-control-label" for="{{uniqueid}}_option1">A: {{customtext1}}
      <span class="{{uniqueid}}_fb {{uniqueid}}_option1_fb"></span>
    </label>
  </div>

  <div class="custom-control custom-radio">
    <input data-index="2" type="radio" id="{{uniqueid}}_option2" name="{{uniqueid}}_options" class="custom-control-input {{uniqueid}}_option">
    <label class="custom-control-label" for="{{uniqueid}}_option2">B: {{customtext2}}
      <span class="{{uniqueid}}_fb {{uniqueid}}_option2_fb"></span>
    </label>
  </div>

  <div class="custom-control custom-radio">
    <input data-index="3" type="radio" id="{{uniqueid}}_option3" name="{{uniqueid}}_options" class="custom-control-input {{uniqueid}}_option">
    <label class="custom-control-label" for="{{uniqueid}}_option3">C: {{customtext3}}
      <span class="{{uniqueid}}_fb {{uniqueid}}_option3_fb"></span>
    </label>
  </div>

  <div class="custom-control custom-radio">
    <input data-index="4" type="radio" id="{{uniqueid}}_option4" name="{{uniqueid}}_options" class="custom-control-input {{uniqueid}}_option">
    <label class="custom-control-label" for="{{uniqueid}}_option4">D: {{customtext4}}
      <span class="{{uniqueid}}_fb {{uniqueid}}_option4_fb"></span>
    </label>
  </div>

  <hr>

  <button type="button" class="btn btn-secondary poodlltime_nextbutton">Next</button>
</div>