{{> mod_minilesson/questionheader}}
{{> mod_minilesson/progresstimer}}
  {{#imagecontent}}
      {{> mod_minilesson/multichoiceimagecontent}}
  {{/imagecontent}}
  {{#audiocontent}}
      {{> mod_minilesson/multichoiceaudiocontent}}
  {{/audiocontent}}
  {{^imagecontent}}
    {{^audiocontent}}
        {{> mod_minilesson/multichoicetextcontent}}
    {{/audiocontent}}
  {{/imagecontent}}
    <div class="row mcplayrow">
        <div class="col-md-6" style="margin-left: auto;margin-right: auto">
            <div class="minilesson_mc_confirmchoice" style="display: none;" >
                <span class="minilesson_sentence">{{#str}}confirmchoice, mod_minilesson{{/str}}</span>
            </div>
        </div>
    </div>
{{> mod_minilesson/resultspanel}}
{{> mod_minilesson/questionfooter}}