
<div id="{{uniqueid}}_container" class="container">

    <audio id="{{uniqueid}}_player"></audio>
    <!-- @@CLOUDPOODLLTOKEN@@ -->
    <span><b>QUESTION {{number}}: {{text}}</b></span><br>

    <span>A: {{customtext1}}</span><br>
    <span>A: {{customtext2}}</span><br>
    <span>A: {{customtext3}}</span><br>
    <span>A: {{customtext4}}</span><br>
</div>
