<a href="#" class="minilesson-my-words-action minilesson-mywords-action-{{id}} btn {{#isinmywords}}btn-primary{{/isinmywords}}{{^isinmywords}}btn-outline-primary{{/isinmywords}}"
   title="{{#isinmywords}}{{#str}}removefrommywords, minilesson{{/str}}{{/isinmywords}}{{^isinmywords}}{{#str}}addtomywords, minilesson{{/str}}{{/isinmywords}}"
   data-action="minilesson-set-my-words" data-termid="{{id}}" id="my-words">
    <i class="fa fa-check" aria-hidden="true"></i>
    <i class="fa fa-plus" aria-hidden="true"></i>
    <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
</a>

