<div class='mod_minilesson_openclosedates'>
        {{#opendate}}<b>{{#str}}open , mod_minilesson{{/str}}</b>{{#userdate}}{{opendate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}{{/opendate}}
        {{#closedate}}<b>{{#str}}until, mod_minilesson{{/str}}</b>{{#userdate}}{{closedate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}{{/closedate}}
</div>