<div id="{{uniqueid}}_container" class="poodlltime_questioncontainer" style="display: none">

{{{text}}}
  <hr>

  <button type="button" class="btn btn-secondary poodlltime_nextbutton">Next</button>
</div>