<div id="{{uniqueid}}_container" class="poodlltime_questioncontainer" style="display: none">
  {{> mod_poodlltime/quiz_progress}}
  {{> mod_poodlltime/questionheader}} {{> mod_poodlltime/nextbutton}}
</div>