{{> mod_minilesson/questionheader}}
{{> mod_minilesson/progresstimer}}
<div class="minilesson_passagereading_box">
    <div class="ml_passagereading_resultscontainer" style="display: none"></div>
    <div class="ml_passagereading_passage {{rtl}}">
      {{{passagehtml}}}
    </div>
     <div class="ml_passagereading_speakbtncontainer" style="width:246px;margin:auto;">

            {{> mod_minilesson/ttrecorder}}

     </div>
     <div class="ml_passagereading_reattemptcontainer" style="width:246px;margin:auto;display: none">
      <div class="minilesson_actionbutton">
        <a class="btn btn-secondary center ml_reattemptbutton" href="#">
            {{#str}}reattempt, mod_minilesson{{/str}}</a>
      </div>
     </div>
</div>

{{> mod_minilesson/questionfooter}}