{{> mod_minilesson/questionheader}}
<div class="minilesson_pgapfill_box">
    <div class="ml_pgapfill_resultscontainer" style="display: none"></div>
    <audio class="pgapfill_audio_player" controls="controls" src="{{passageaudio}}"></audio>

    <div class="pgapfill_passage pgapfull_monospace {{rtl}}">
      {{#passagedata.words}}
        {{#isgap}}
        <span class="pgapfill_gap_wrapper">
          <input type="text" class="pgapfill_gap_input character-input pgapfull_monospace" data-wordindex="{{wordindex}}"
            placeholder="{{placeholder}}" style="width: {{{ paddedtextlength }}}ch" maxlength="{{{textlength}}}"/>
          <i class="correctIcon fa fa-check"></i>
          <i class="wrongIcon fa fa-times"></i>
        </span>
        {{/isgap}}
        {{^isgap}}
         {{{text}}}
        {{/isgap}}
      {{/passagedata.words}}
    </div>

    <div class="passage_gapfill_results_actions">
      <div class="minilesson_actionbutton">
        <a class="btn btn-secondary center ml_hintbutton" href="#" data-alttext={{#quote}} {{{ althintstring }}} {{/quote}}>
            {{#str}}gethints, mod_minilesson{{/str}}
        </a>
      </div>

      <div class="minilesson_actionbutton">
        <a class="btn btn-secondary center ml_finishbutton" href="#">
            {{#str}}finish, mod_minilesson{{/str}}
        </a>
      </div>
    </div>
</div>
{{> mod_minilesson/questionfooter}}