
  <div class="ml_rp_resultcell">
    <span class="ml_rp_resultcell_title">
        {{#str}}rp_result_read, mod_minilesson{{/str}}
    </span>
    <span class="ml_rp_resultcell_content">
        {{read}}
    </span>
  </div>

  <div class="ml_rp_resultcell">
    <span class="ml_rp_resultcell_title">
        {{#str}}rp_result_correct, mod_minilesson{{/str}}
    </span>
    <span class="ml_rp_resultcell_content">
        {{correct}}
    </span>
  </div>

  <div class="ml_rp_resultcell">
    <span class="ml_rp_resultcell_title">
        {{#str}}rp_result_incorrect, mod_minilesson{{/str}}
    </span>
    <span class="ml_rp_resultcell_content">
        {{incorrect}}
    </span>
  </div>

  <div class="ml_rp_resultcell">
    <span class="ml_rp_resultcell_title">
        {{#str}}rp_result_unreached, mod_minilesson{{/str}}
    </span>
    <span class="ml_rp_resultcell_content">
        {{unreached}}
    </span>
  </div>

  <div class="ml_rp_resultcell">
    <span class="ml_rp_resultcell_title">
        {{#str}}rp_result_accuracy, mod_minilesson{{/str}}
    </span>
    <span class="ml_rp_resultcell_content">
        {{accuracy}}%
    </span>
  </div>

  <div class="ml_rp_resultcell">
    <span class="ml_rp_resultcell_title">
        {{#str}}rp_result_score, mod_minilesson{{/str}}
    </span>
    <span class="ml_rp_resultcell_content">
        {{score}}%
    </span>
  </div>
  {{#mediaurl}}
    <div class="ml_passagereading_results_finalaudio">
      <audio controls>
        <source src="{{mediaurl}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  {{/mediaurl}}
