{{> mod_minilesson/questionheader}}
<div class="minilesson_passagereading_box">  
    <div>
        Passage Reading
    </div>
    <div class="ml_passagereading_passage {{rtl}}">
      {{{passagehtml}}}
    </div>
     <div class="ml_passagereading_speakbtncontainer" style="width:246px;margin:auto;">

            {{> mod_minilesson/cloudpushrecorder}}
            {{> mod_minilesson/ttrecorder}}

     </div>
     <button class="btn btn-danger passagereading_ctrl-btn passagereading_skip_btn">
        {{#str}}skip, mod_minilesson{{/str}} <i class="fa fa-arrow-right"></i>
     </button>
</div>

{{> mod_minilesson/questionfooter}}