{{> mod_minilesson/questionheader}}
    {{#carddata}}
        abc
        {{#buttons}}
          <div class="row">
            <div class="col-md-1">
              <button type="button" class="btn btn-secondary mod_ln_btn" data-action="{{action}}" data-actiondata="{{actiondata}}" data-src="@AUDIO@">
                  <i class="fa fa-play">{{text}}</i>
              </button>
            </div>
          </div>
      {{/buttons}}
    {{/carddata}}

{{> mod_minilesson/questionfooter}}
