{{#horizontal}}
    </div>
    </div>
{{/horizontal}}
</div>

{{^hidenextbutton}}
{{> mod_minilesson/nextbutton}}
{{/hidenextbutton}}
<!-- this closes container div that was opened in question header -->
</div>