{{#results}}
  <div class="mod_poodlltime_result_div">
    <div class="mod_poodlltime_result_index">{{index}}</div>
    <div class="mod_poodlltime_result_title">{{title}}</div>
    <div class="mod_poodlltime_result_score">Score: {{correctitems}}/{{totalitems}}</div>
    <div class="mod_poodlltime_result_grade">Grade: {{grade}}%</div>
  </div>
{{/results}}
<hr>
<h1 class="text-center">Total Score: {{total}}%</h1>