{{#showitemreview}}
<div class='ml-spacegame-basic_feedback'>
  <h2>
    Finished
    <hr/>
    <i class='fa fa-trophy'></i> {{totalcorrect}}/{{total}} {{#str}}correct, mod_minilesson{{/str}}
    <hr/>
    <i class='fa fa-clock-o'></i> {{prettytime}}
  </h2>
</div>

<p class='show-detailed-feedback'>
    <a class="btn btn-primary ml-spacegame-bigbutton" data-toggle="collapse" href="#ml-spacegame-fb-container" role="button" aria-expanded="false" aria-controls="ml-spacegame-fb-container">
        <i class="fa fa-list"></i> {{#str}}showdetailedresults, mod_minilesson{{/str}}
    </a>
</p>
<div id="ml-spacegame-fb-container" class="collapse" style='text-align:center;overflow:hidden;'>

  {{#results}}

  <div class="ml-spacegame-detailed_feedback_div term-wrapper position-relative">

    <div class="term">

      <div class="term-header">
        <div class="term-title">
            <span>{{question}}</span>
        </div>
        <div class="term-tick">
            {{#correct}}<div class="ml-spacegame-correct"><i class='fa fa-check'></i></div>{{/correct}}
            {{^correct}}<div class="ml-spacegame-incorrect"><i class='fa fa-times'></i></div>{{/correct}}
        </div>
      </div>

      <div class="term-body">
        <span>{{{answer}}}</span>
      </div>
    </div>

  </div>
  {{/results}}
</div>

{{#allowretry}}
<hr/>
<div class="try-again-or-next">
    <button id="minilesson-try-again" class="btn btn-danger ml-spacegame-bigbutton">
        <i class="fa fa-refresh"></i> {{#str}}tryagain, mod_minilesson{{/str}}
    </button>
</div>
{{/allowretry}}
{{/showitemreview}}
{{^showitemreview}}
<div class='ml-spacegame-basic_feedback'>
  <h2>
    Thank you
  </h2>
</div>
{{/showitemreview}}