{{#showitemreview}}

<div class='ml-scatter-basic_feedback'>
  <div class="ml-scatter-basic_feedback_title">
    <h2>Finished</h2>
  </div>
  <div class="ml-scatter-feedback-box">
    <div class="ml-scatter-correction">
      <div class="mb-2">
        <img src="{{{yellow_starImgurl}}}"/>
      </div>
      <div>
        <h2 class="result-font"><span class="bigger-font">{{totalcorrect}}/</span>{{total}}</h2>
        <p class="correct-text"><i>{{#str}}correct , mod_minilesson{{/str}}</i></p>
      </div>
    </div>
    <div class="ml-scatter-timer">
      <div class="mb-2">
        <img src="{{{timerImgurl}}}"/>
      </div>
      <div>
        <h2 class="result-font"><span class="bigger-font">{{prettytime}}</h2>
        <p class="correct-text"><i>{{#str}}seconds{{/str}}</i></p>
      </div>
    </div>
</div>

<p class='show-detailed-feedback'>
    <a class="btn ml-scatter-bigbutton ml-scatter-btn" data-bs-toggle="collapse"  data-toggle="collapse" href="#ml-scatter-fb-container" role="button" aria-expanded="false" aria-controls="ml-scatter-fb-container">
      <span class="ml-scatter-show-text">{{#str}}showdetailedresults, mod_minilesson{{/str}}</span>
      <span class="ml-scatter-hide-text d-none">{{#str}}hidedetailedresults, mod_minilesson{{/str}}</span>
    </a>
</p>
<div id="ml-scatter-fb-container" class="collapse" style='text-align:center;overflow:hidden;'>

  {{#results}}

  <div class="ml-scatter-detailed_feedback_div term-wrapper position-relative">

    <div class="term">

      <div class="term-header">
        <div class="term-title">
            <span class="{{#correct}} term-body-correct {{/correct}} {{^correct}} term-body-incorrect {{/correct}}">{{question}}</span>
        </div>
      </div>

      <div class="d-flex align-items-center">
      <div class="term-body">
          <span class="{{#correct}} term-body-correct {{/correct}} {{^correct}} term-body-incorrect {{/correct}}">{{{answer}}}</span>
        </div>
        <div class="term-tick">
          {{#correct}}<div class="ml-scatter-correct"><i class='fa fa-check'></i></div>{{/correct}}
          {{^correct}}<div class="ml-scatter-incorrect"><i class='fa fa-times'></i></div>{{/correct}}
        </div>
      </div>
    </div>

  </div>
  {{/results}}
</div>

{{#allowretry}}
<div class="try-again-or-next my-3">
    <button id="minilesson-try-again" class="btn ml-scatter-bigbutton">
        <i class="fa fa-refresh"></i> {{#str}}tryagain, mod_minilesson{{/str}}
    </button>
</div>
{{/allowretry}}
{{/showitemreview}}
{{^showitemreview}}
<div class='ml-spacegame-basic_feedback'>
  <h2>
    Thank you
  </h2>
</div>
{{/showitemreview}}