{{> mod_minilesson/questionheader}}
{{> mod_minilesson/progresstimer}}
<div class="minilesson_scatter_box">
    <div class="ml_scatter_resultscontainer" style="display: none"></div>
    <div class="ml_scatter_stage">
        <ul>
            {{#scatteritems}}
                <li>{{definition}} - {{term}} </li>
            {{/scatteritems}}
        </ul>
    </div>
      <div class="minilesson_actionbutton">
        <a class="btn btn-secondary center ml_reattemptbutton" href="#">
            {{#str}}reattempt, mod_minilesson{{/str}}</a>
      </div>
</div>

{{> mod_minilesson/questionfooter}}