<div class="minilesson-slides-container">
  <div id="reveal-{{{uniqid}}}" class="reveal"{{#selectedfontsize}} style="--r-main-font-size: {{{.}}}px" {{/selectedfontsize}}>
      <div class="slides">
        <section data-markdown data-separator="^---$" data-separator-vertical="^--$">
            <textarea data-template>
              {{{slidesmarkdown}}}
            </textarea>
        </section>
      </div>
  </div>
</div>
{{#inajax}}
    {{#js}}
        require(['mod_minilesson/reveal'], function(RevealImplement) {
            RevealImplement.init(document.querySelector("#reveal-{{{uniqid}}}"))
            .then(function(instance) {
                instance.initialize();
                RevealImplement.setTheme({{#quote}}{{{selectedtheme}}}{{/quote}});
            });
        });
    {{/js}}
{{/inajax}}