{{> mod_minilesson/questionheader}}
  
    <div>
        SPACE GAME
    </div>
    {{#spacegameitems}}
        {{.}}<br>
    {{/spacegameitems}}

    <a class="btn btn-secondary ml_sg_clickclick">click click</a>

{{> mod_minilesson/questionfooter}}