{{> mod_minilesson/questionheader}}
{{> mod_minilesson/progress_dots}}

  <div class="minilesson_speechcards-container {{rtl}}">

    <div class="minilesson_speechcards_target_phrase">


    </div>

    <div class="minilesson_star_rating">· · ·</div>
    
    {{> mod_minilesson/ttrecorder}}

    <div style="text-align:center;">
      <button class="center-block btn minilesson-speechcards_button minilesson-speechcards_nextbutton btn-skip-button-secondary" >
        {{#str}}skip, mod_minilesson{{/str}}{{#pix}}skip-icon, mod_minilesson{{/pix}}
      </button>
    </div>

  </div>

{{> mod_minilesson/questionfooter}}