<div id="{{uniqueid}}_container" class="poodlltime_questioncontainer" style="display: none">
  {{> mod_poodlltime/quiz_progress}}
  {{> mod_poodlltime/questionheader}} {{> mod_poodlltime/progress_dots}}

  <div class="poodlltime_speechcards-container">

    <div class="poodlltime_speechcards_target_phrase">


    </div>

    <div class="poodlltime_star_rating">· · ·</div>

    {{> mod_poodlltime/cloudpushrecorder}}
    {{> mod_poodlltime/ttrecorder}}

    <div style="text-align:center;">
      <button style="border: 2px solid darkgray;border-radius: 5px;" class="center-block btn btn-secondary poodlltime-speechcards_button poodlltime-speechcards_nextbutton" data-glide-dir=">">
        <i class="fa fa-times"></i> {{#str}}skip, mod_wordcards{{/str}}
      </button>
    </div>

  </div>

  {{> mod_poodlltime/nextbutton}}

</div>