<div class="ttspassageplayer container"  id="{{uniqid}}_ttspassageplayer">
    <button type='button' id='{{uniqid}}' data-currentsentence="0" class="roundmini-audio-player">
        <audio id='{{uniqid}}_player' class="roundminiaudio nomediaplugin">
        </audio>
        <i class="fa fa-volume-up" aria-hidden="true"></i>
    </button>
    <div id='{{uniqid}}_textblock' >
        <div class='tbr_innerdiv {{rtl}}'>
        {{#ttspassagelines}}
            <span class="tbr_sentence" data-audiourl="{{audiourl}}">{{sentence}} </span>
        {{/ttspassagelines}}
        </div>
    </div>
</div>
{{^element.frozen}}
    {{#js}}
        require(['jquery', 'mod_minilesson/ttspassage'], function($, ttspassage) {
            ttspassage.init('{{uniqid}}');
        });
    {{/js}}
{{/element.frozen}}