{{> mod_minilesson/questionheader}}
<div class="minilesson_tgapfill_player_box gapfill-container">
    <div class="tgapfill_title text-center">{{#str}}typinggapfill, mod_minilesson{{/str}}</div>

    <div class="tgapfill_mainmenu">
        <div class="tgapfill_loaded" style="display:none;">
            <button disabled class='btn btn-block btn-primary tgapfill_start_btn'>
                <i class='fa fa-play'></i> {{#str}}start, mod_minilesson{{/str}}
            </button>
        </div>
        <div class="tgapfill_not_loaded">
            <p>{{#str}}loading, mod_minilesson{{/str}}</p>
        </div>
    </div>

    <div class="progress-container d-flex" style="display:none;">
        <div id="progresstimer" class="flex-grow-1"></div>
        <div>
            <i style="display:none;" class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
    </div>

    <div style="display:none;" class="question"></div>

    <div style="display:none;" class="tgapfill_controls">

        <button class="btn btn-success tgapfill_ctrl-btn tgapfill_check_btn">
            <i class="fa fa-check"></i> {{#str}}check, mod_minilesson{{/str}}
        </button>

        <button class="btn btn-danger tgapfill_ctrl-btn tgapfill_skip_btn">
            {{#str}}skip, mod_minilesson{{/str}} <i class="fa fa-arrow-right"></i>
        </button>

    </div>
</div>
{{> mod_minilesson/questionfooter}}