{{> mod_minilesson/questionheader}}
<div class="minilesson_dictate_player_box gapfill-container">
    <div class="dictate_title text-center">{{#str}}typinggapfill, mod_minilesson{{/str}}</div>

    <div class="dictate_mainmenu">
        <div class="dictate_loaded" style="display:none;">
            <button disabled class='btn btn-block btn-primary dictate_start_btn'>
                <i class='fa fa-play'></i> {{#str}}start, mod_minilesson{{/str}}
            </button>
        </div>
        <div class="dictate_not_loaded">
            <p>{{#str}}loading, mod_minilesson{{/str}}</p>
        </div>
    </div>

    <div class="progress-container d-flex"  style="display:none;">
        <div id="progresstimer" class="flex-grow-1"></div>
        <div><i class="fa fa-clock-o" aria-hidden="true"></i></div>
    </div>

    <div style="display:none;" class="question"></div>

    <div style="display:none;" class="dictate_controls">

        <button class="btn btn-success dictate_ctrl-btn dictate_check_btn w-50">
            <i class="fa fa-check"></i> {{#str}}check, mod_minilesson{{/str}}
        </button>

        <button class="btn btn-danger dictate_ctrl-btn dictate_skip_btn w-50">
            {{#str}}skip, mod_minilesson{{/str}} <i class="fa fa-arrow-right"></i>
        </button>

    </div>
</div>
{{> mod_minilesson/questionfooter}}