{{> mod_minilesson/questionheader}}
<div class="minilesson_tgapfill_player_box gapfill-container mt-5">

    <div class="tgapfill_maintitle" style="display: none">{{iteminstructions}}</div>
    <div class="tgapfill_itemtext mod_minilesson_itemtext {{rtl}}" style="display: none">{{{itemtext}}}</div>

    <div class="tgapfill_image_container text-center pt-5">
        <img class="tgapfill_image" src="{{{itemimageurl}}}" alt="{{#str}}tgapfill, mod_minilesson{{/str}}">
    </div>

    <div class="tgapfill_title text-center mt-3">{{#str}}typinggapfill, mod_minilesson{{/str}}</div>

    <div class="tgapfill_description mt-3 text-center">{{iteminstructions}}</div>

    <div class="tgapfill_mainmenu mt-3 pb-5">
        <div class="tgapfill_loaded" style="display:none;">
            <button disabled class='btn btn-block btn-primary tgapfill_start_btn'>
                {{#str}}start, mod_minilesson{{/str}} <i class='fa fa-play ml-1'></i>
            </button>
        </div>
        <div class="tgapfill_not_loaded">
            <p>{{#str}}loading, mod_minilesson{{/str}}</p>
        </div>
    </div>

    {{> mod_minilesson/progresstimer }}

    <div style="display:none;" class="question"></div>

    <div class="simple-keyboard simple-keyboard-{{uniqueid}}" style="padding: 5px; display: none;" aria-hidden="true"></div>

    <div style="display:none;" class="tgapfill_controls pb-3">
        <button class="btn tgapfill_ctrl-btn tgapfill_check_btn">
            <i class="fa fa-check"></i> {{#str}}check, mod_minilesson{{/str}}
        </button>

        <button class="btn tgapfill_ctrl-btn tgapfill_skip_btn">
            {{#str}}skip, mod_minilesson{{/str}} <i class="fa fa-arrow-right"></i>
        </button>

        {{#enablevkeyboard}}
            <button class="btn tgapfill_ctrl-btn ml_simple_keyboard_toggle" type="button">
                <i class="fa fa-keyboard-o"></i>
            </button>
        {{/enablevkeyboard}}

    </div>

    <div class="tgapfill_resultscontainer"></div>
</div>
{{> mod_minilesson/questionfooter}}