@use '../../abstracts/variables' as *;

// Buttons

/* Next item button */

.minilesson_nextbutton {
  display: block;
  width: 150px;
  height: 50px;
  border: 1px;
  border-style: solid;
  border-color: $primary;
  border-radius: 30px;
  color: $primary;
  font-size: 15px;
  font-weight: 500;
  margin: auto;
  background-color: $white;
}

.minilesson_nextbutton:focus {
  outline: 0;
}
