@use '../../abstracts/variables' as *;

// -----------------------------------------------------------------------------
// Description: shared description/instruction styles across activity types
// -----------------------------------------------------------------------------

:is(.startmodule_splashscreen, .item-container) .startmodule_description {
  color: $text;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  width: calc(70%);
}
