// -----------------------------------------------------------------------------
// Lesson Item: accordion panel for choosing activity type (admin/editing UI)
// Template: templates/lessonitem.mustache
// -----------------------------------------------------------------------------

.lessonitem-container {
  display: flex;

  .lessonitem-list {
    width: 40%;
    border-right: 1px solid #E9ECFB;
    background: #F7F7FD;
    padding: 20px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    .lessonitem-list-block {
      overflow: auto;
      max-height: 450px;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #5C669A;
        border-radius: 4px;
      }
    }

    .lessonitem-link {
      display: flex;
      align-items: center;
      padding: 10px;
      text-decoration: none;
      color: black;
      margin: 5px;

      &[aria-expanded="true"] {
        background-color: #FFFFFF;
        border-radius: 5px;
      }

      &:focus {
        box-shadow: none;
      }

      .itemicon {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }

      .itemname {
        text-align: left;
        color: #414C81;
      }
    }
  }

  .lessonitem-description {
    padding: 2rem 2.5rem 2.5rem 2.5rem;
  }

  .lessonditem-description-block {
    width: 60%;

    .collapsing {
      display: none;
    }
  }
}

// Modal variant
.lessonitem-modal {

  .modal-body {
    max-height: 550px;
    padding: 0;
  }

  .modal-content {
    border-radius: 16px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
  }

  .modal-dialog:focus {
    box-shadow: none !important;
  }

  .lessonitem-container {

    .itemheading {
      color: #56619C;
      font-size: 17px;
      font-weight: 700;
      line-height: 100%;
    }

    .lessonditem-description-block {

      .lessonditem-description-heading {
        color: #343f74;
        font-weight: 700;
        font-size: 17px;
        line-height: 100%;
        letter-spacing: 0;
      }

      .lessonditem-description-desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        color: #141C43;
        margin-top: 25px;
      }

      .addbtn {
        background-color: #506DFF;
        color: white;
        width: 72px;
        height: 38px;
        border-radius: 5px;

        &:hover {
          background-color: #2642CD;
        }
      }
    }
  }
}
