@use '../../abstracts/variables' as *;

// -----------------------------------------------------------------------------
// Question Container: main wrapper for each quiz item/activity
// Template: templates/questionheader.mustache, templates/questionpageheader.mustache
// -----------------------------------------------------------------------------

.mod_minilesson_iteminstructions {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
  padding-top: 5px;
}

.mod_minilesson_itemtext {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
}

.minilesson_questionheader {
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  background-color: $grey-100;
  border-radius: 5px;
}

.minilesson_questioncontainer {

  .shortanswer_check_btn {
    border-radius: 5px;
  }

  .textinput_responsetype {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border: 1px solid $grey-500;
    border-radius: 4px;
    padding: 5px;
  }

  .textinput_success {
    background-color: lightgreen;
  }

  .finishedmessage_btn {
    padding: 10px;
    border-radius: 50%;
    line-height: 12px;
    background-color: $error;
    color: $white;
    display: inline-flex;
    align-items: center;
  }
}
