@use '../../abstracts/variables' as *;

// -----------------------------------------------------------------------------
// TTS Audio: passage audio player and round mini audio player (form element)
// -----------------------------------------------------------------------------

.mod_minilesson_itemttspassage_cont button.passage-audio-player {
  border: none;
  color: $white;
  width: 50%;
  height: 30px;
  background-color: $green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
}

.mod_minilesson_itemttspassage_cont .passageplayer_activesentence {
  background: $success-bg;
}

.mod_minilesson_itemttspassage_cont .passageplayer_linebreak {
  height: 1em;
  display: block;
}

// Round mini audio player (Moodle form element)

.mform [data-root="elementwrapper"] [data-fieldtype="ttsaudio"] button.roundmini-audio-player,
.ttsaudio.container button.roundmini-audio-player {
  background: $primary;
  border-radius: 8px;
  border: 1.5px solid $white;
  color: $white;
  border-color: $primary;
  box-shadow: $main-shadow;
  outline: 0;
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  margin-top: 3px;
}

.mform [data-root="elementwrapper"] .felement[data-fieldtype="ttsaudio"] .col-form-label {
  padding-left: 0;
}

.mform [data-root="elementwrapper"] [data-fieldtype="ttsaudio"] .samplettsaudio {
  margin-left: 10px;
  margin-top: auto;
}

.mform [data-root="elementwrapper"] [data-fieldtype="ttsaudio"] button.roundmini-audio-player {
  height: auto;
  width: auto;
  padding: 0.375rem 0.675rem;
}

.mform [data-root="elementwrapper"] [data-fieldtype="ttsaudio"] .form-group {
  flex-direction: column;
  align-items: start;
}
